@import "../../assets/styles/colors";

.loader {
  &-container {
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $hn-color-light;

    .wrapper {
      animation: rotate 2s infinite;
      padding: 16px;
    }
  }

  font-size: 32px;
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 0 0 0 $primary;
  transform: scale(1);
  animation: pulsate 2s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.8) rotate(0);
    box-shadow: 0 0 0 0 rgba($primary, 0.7);
  }

  70% {
    transform: scale(1.1) rotate(-252deg);
    box-shadow: 0 0 0 24px rgba($primary, 0);
  }

  100% {
    transform: scale(0.8) rotate(0deg);
    box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
