@import "../../assets/styles/colors";
@import "../../assets/styles/breakpoints";

.news-wrapper {
  @media screen and (min-width: $breakpoint-md-min) {
    margin-top: 24px;
  }
}

.news-header,
.news-item {
  display: grid;
  padding: 0.75rem 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 38% auto;

  @media screen and (min-width: $breakpoint-md-min) {
    grid-template-columns: 1fr 1fr 1fr 8fr;
  }

  @media screen and (min-width: $breakpoint-sm-min) {
    grid-template-rows: unset;
  }

  @media screen and (min-width: $breakpoint-sm-min) and (max-width: $breakpoint-sm-max) {
    grid-template-columns: 1fr 1fr 1fr 5fr;
  }

  .news-details {
    grid-column: 1 / -1;
    border-top: thin dashed #ccc;

    @media screen and (min-width: $breakpoint-sm-min) {
      grid-column: unset;
      border-top: none;
    }
  }

  & > div {
    padding: 8px;
  }
}

.news-header {
  color: #fff;
  font-weight: 500;
  background-color: $primary;
  display: none;

  @media screen and (min-width: $breakpoint-sm-min) {
    display: grid;
  }
}

.news-item {
  .mid {
    color: darken($primary, 30%);
    font-weight: 500;
  }
  .high {
    color: $primary;
    font-weight: 500;
  }

  .title {
    text-decoration: none;
    outline: none;
    color: inherit;
  }

  &:nth-child(even) {
    background-color: $hn-color-light;
  }
  &:nth-child(odd) {
    background-color: $hn-color-darker;
  }
}

.pagination {
  text-align: right;
  background-color: $hn-color-light;
  color: $primary;

  button {
    background-color: transparent;
    border: none;
    outline: none;
  }

  button:first-child {
    border-right: 2px solid $primary;
  }
}

.hide-btn {
  background-color: transparent;
  border: none;
  outline: none;
}
