@import "../../assets/styles/colors";

.news-wrapper {
  margin-top: 24px;
}

.news-header,
.news-item {
  padding: 0.75rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 8fr;
}

.news-header {
  color: #fff;
  font-weight: 500;
  background-color: $primary;
}

.news-item {
  .mid {
    color: darken($primary, 30%);
    font-weight: 500;
  }
  .high {
    color: $primary;
    font-weight: 500;
  }

  .title {
    text-decoration: none;
    outline: none;
    color: inherit;
  }

  &:nth-child(even) {
    background-color: $hn-color-light;
  }
  &:nth-child(odd) {
    background-color: $hn-color-darker;
  }
}

.pagination {
  text-align: right;
  background-color: $hn-color-light;
  color: $primary;

  button {
    background-color: transparent;
    border: none;
    outline: none;
  }

  button:first-child {
    border-right: 2px solid $primary;
  }
}

.hide-btn {
  background-color: transparent;
  border: none;
  outline: none;
}
