@import "../../assets/styles/colors";

.navbar-wrapper {
  padding-bottom: 60px;
}

.navbar {
  background-color: $primary;
  padding: 12px 0;
  width: 100%;
  position: fixed;
  top: 0;

  .brand {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
  }

  @media screen and(max-width: 520px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
